body
{
font-family:arial;
font-size:0.85em;
}

h2
{
margin-bottom:-1px;
}


/*.textbox
{
border:solid 1px #dddddd;
width:200px;
height:35px;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
overflow: auto;
resize: none;
padding:3px;
-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
}*/

/*select
{
border:solid 1px #dddddd;
width:175px;
color:#aaaaaa;
height:35px;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
overflow: auto;
resize: none;
padding:3px;
-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
}
*/
/*.btn{
cursor:pointer;
padding:5px;
margin-top:15px;
color:#ffffff;
font-weight:bold;
background-color: #13C4C4;
background-repeat: repeat-x;
border-color: #2f96b4 #2f96b4 #1f6377;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
}*/

/*textarea
{
width:400px;
font-family:arial;
font-size:13px;
overflow: auto;
resize: none;
height:70px;
border:solid 1px #dddddd;
padding:5px;
-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
}*/


.comment_box
{
margin-top:10px;
padding:10px;
width:560px;
border:solid 1px #aaaaaa;
-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;
font-size:13px;
overflow:auto;
}

.body_box
{
margin-left:60px;
}

.txt
{
margin-top:5px;
color:#333333;
}

span b
{
	font-size: 16px;
}

.date
{
	font-style: italic;
}